.icon {
  display: inline-block;
  position: relative;
  transition: transform 0.3s ease;
}

/* Move up on hover */
.icon:hover {
  transform: translateY(-5px);
}

/* underline (hidden by default) */
.icon::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 3px;
  transition: 0.3s;
}


/* individual colors */
.fb i { color: #1877f2; }
.fb::after { background: #1877f2; }

.ig i { color: #e4405f; }
.ig::after { background: #e4405f; }

.tw i { color: #1da1f2; }
.tw::after { background: #1da1f2; }

.yt i { color: #ff0000; }
.yt::after { background: #ff0000; }
.fa-brands{
    font-size: 1.8rem;
    cursor: pointer;

    /* padding-right: 5px; */
}
.tiktok-icon {
    font-size: 40px;
    background: linear-gradient(45deg, #25F4EE, #FE2C55);
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
  }
  .tiktok-icon {
    color: #000;
    transition: 0.3s;
  }
  
  .tiktok-icon:hover {
    color: #FE2C55;
  }
   /* Right side container */
   .social-bar {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
  }

  .toggle-btn {
    position: fixed;
    top: 92%;
    right: 10px;
    transform: translateY(-50%);
    background: rgb(224, 62, 62);
    color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1001;
    transition: 0.3s;
  }
  
  .toggle-btn:hover {
    background: #555;
  }
  
  /* Rotate icon when active */
  .toggle-btn.active i {
    transform: rotate(90deg);
    margin-right: 6px;
    transition: 0.3s;
  }
  
  /* Social bar */
  .social-bar {
    position: fixed;
    top: 67%;
    right: -70px; /* hidden */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.4s;
  }
  
  /* Show when active */
  .social-bar.active {
    right: 12px;
  }
  
  .social-bar a {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .social-bar a:hover {
    transform: scale(1.1);
  }
  
  /* Colors */
  .whatsapp { background: #25D366; }
  .facebook { background: #1877f2; }
  .instagram { background: #E4405F; }
  .youtube { background: #FF0000; }
  .tiktok { background: #000; }
  .fa-solid{
    transform: rotate(-90deg);
    margin-right: -5px;
  }